*{
    margin: 0;
    padding: 0;
}

/* medidas mobile */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    margin: 0;
}
/* size */
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

/* button */
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 0px rgba(0,0,0,0.5);
    color: white;
    background-color: #FF7777;
}

button:hover{
    background-color: #ff7777(101, 33, 165);
    animation: pulse 1.5s ;
}

@keyframes pulse {
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256,256,256, .1);
    }
    85%{
        transform: scale(.1);
        box-shadow: 0 0 0 30px rgba(256,256,256, 0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256,256,256, 0);
    }
    
}

/* header */
.background-nav{
    background-color: #fdfaf0;
}

.color-acento{ color:#FF7777; }

/* secciones */
#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#inicio h1{
    color: #c2a365;
}

#inicio button{
    font-size: 1.75em;

}

#nosotros .container{
    text-align: center;
    padding: 200px 12px;
}

#servicios{
    background-color: #a6a6a6;
    color: white;
    text-align: center;
}

#servicios.container{
    padding: 200px 12px;
}

#servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p{
    display: none;
}

#servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/MANICURA\ Mediano\ Chico.png");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/PEDICURA\ Mediano\ Chico.png");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/CEJAS\ \ Mediano\ Chico.png");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/DEPILACION\ \ Mediano\ Chico.png");

}

#team{
text-align: center;
padding: 200px 12px;
}


#nosotros .container{
    text-align: center;
    padding: 150px 12px;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a6a6a6;
    color: white;
    height: 80vh;
}

#contacto h2{
    font-size: 9vw;
}

#contacto button{
    font-size: 5vw;
}
 
/* boton whatsapp*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom: 80px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

/* footer */

.footer-container{
    color: rgba(0,0,0,0.3);
    background-color: #fdfaf0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-footer{
    width: 30%;
}

.lista-footer{
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.logo{
    padding-left: 20
px;
}


/* medidas destock */

@media (min-width: 850px){
    
    /* header */
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    /* secciones */

    #nosotros .container{
        display: flex;
        justify-content: space-evenly;
    }

    #nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nosotros h2{
        margin-top: 0px;
    }

    #nosotros .img-container{
        background-image:url("imagenes/inicio\ Chico.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #servicios .servicios{
        display: flex;
        justify-content: center;
    }

    #servicios p{
        display: block;
        margin-bottom: 30px;
    }

    #servicios h2{
        font-size: 4em;
    }

    #servicios h3{
        margin-top: 0;
    }

    #servicios .carta{
        padding: 50px;
        background-size: 100% 180px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #a6a6a6;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/MANICURA\ Mediano\ Chico.png");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/PEDICURA\ Mediano\ Chico.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/CEJAS\ \ Mediano\ Chico.png");

    }

    .carta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/DEPILACION\ \ Mediano\ Chico.png");

    }
   
    #team .container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    #team .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #team h2{
        margin-top: 0px;
    }

    #team .img-container{
        background-image:url("imagenes/team.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #contacto h2{
        font-size: 5em;
    }

    #contacto button{
        font-size: 2em;
    }

    /* footer */
    .footer-container{
        color: black;
        background-color: #fdfaf0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-footer{
        width: 30%;
    }
    
    .lista-footer{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    
    .logo{
        padding-left: 20
    px;
    }
}

@media (min-width: 1200px) {
    #team{
        background-position-x: calc(100vw - 800px);
    }
}